nav.navbar.navbar-default{
  background-color: #000;
  border-color: #f00;
  margin-top: 10px;
}
nav.navbar.navbar-default a,
nav.navbar.navbar-default a:hover {
  color: red;
}
li p.navbar-text, a.navbar-brand {
  color: red!important ;
  font-weight: bolder;
}

footer.footer {
  background-color: #000;
  border-color: #f00;
  margin-top: 55px;
  color: red;
  border-radius: 5px;
}
footer.footer p {
  padding: 10px;
}
