.table-nonfluid {
   width: 55% !important;
}

nav.navbar.navbar-default{
  background-color: #000;
  border-color: #f00;
  margin-top: 10px;
}
nav.navbar.navbar-default a,
nav.navbar.navbar-default a:hover {
  color: red;
}
li p.navbar-text, a.navbar-brand {
  color: red!important ;
  font-weight: bolder;
}

footer.footer {
  background-color: #000;
  border-color: #f00;
  margin-top: 55px;
  color: red;
  border-radius: 5px;
}
footer.footer p {
  padding: 10px;
}

tr.fla:nth-child(even){
  background-color:#fff;
  color:#666;
  font-size: small;
  border:solid 2px #999;
}
tr.fla:nth-child(odd){
  background-color:#dadada;
  color:#333;
  font-size: small;
  border:solid 2px #666;
}

tr.fla1{
  background-color:#000;
  color:#fff;
  border:solid 2px #fff;
}
tr.fla2{
  background-color:#f00;
  color:#fff;
  border:solid 2px #fff;
}
span.sp-inline:nth-child(odd){
  display: inline-table;
  width: 200px;
  border-bottom:dashed 1px #999;
  margin-bottom: 10px;
  margin-left: 150px;
}
.input-number{
  width: 60px;
  text-align: center;
}


/* jQuery Countdown styles 2.0.0. */
.countdown {
  border: 2px solid #8B4513;
  background-color: #FFFFE0;
  text-align: center;
  font:normal medium "Verdana Arial";
  padding:5px;
  margin-bottom: 25px;
}
.countdown span {
  color: #8B4513;
  font: bold xx-large "Verdana Arial";
}
